<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/route-search">
    {{title}}
  </a>
</nav>

<div class="container-create">
  <h1>Located great street art? Add it here! </h1>
  <div class="streetart-create">
    <form class="no-tables-create" action="/streetarts/create" method="POST">
      <div class="col-10">
        <div class="form-group row ml-10">
          <label>
            Select Your Picture
            <input type="file" class="form-control space-between" name="image">
          </label>
          <label>
            Artist
            <input type="text" class="form-control space-between" name="artist">
          </label>
          <label>
            Name or Description
            <textarea name="name_description" class="form-control space-between" cols="30" rows="2"></textarea>
          </label>
          <label>
            Address
            <input type="double" class="form-control space-between" name="address">
          </label>
          <label>
            Latitude
            <input type="double" class="form-control space-between" name="latitude">
          </label>
          <label>
            Longitude
            <input type="double" class="form-control space-between" name="longitude">
          </label>
          <label>
            Other Location Notes
            <textarea name="other_location_note" class="form-control space-between" cols="30" rows="2"></textarea>
          </label>
          <label>
            Comment
            <textarea name="comment" class="form-control space-between" cols="30" rows="2"></textarea>
          </label>
        </div>
        <button type="submit" class="create-button">Create</button>
    </form>
  </div>
</div>


<br>
<input id="create-links" class="btn btn-secondary" type=button onClick="location.href='/route-search'"
  value='Back to route map'>

<input id="create-links" class="btn btn-secondary" type=button onClick="location.href='/streetarts'"
  value='List of all street art'>
<br>
</div>
<footer id="footer-signedin" class="footer fixed-bottom">
  <span>
    <form action="/logout" method="POST">
      <button class="logout-button" type="submit">Sign Out</button>
    </form>
  </span>
</footer>