body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #e1eef3; }

.navbar {
  justify-content: left;
  text-align: center;
  vertical-align: middle;
  background-image: url("https://res.cloudinary.com/dt9z4xs6m/image/upload/v1605855067/Graffiti-Background_ip7qjf.jpg");
  text-shadow: -1px -1px #fff;
}

#map {
  height: 350px;
  width: 98%;
  display: block;
  margin-top: 65px;
  // margin-left: auto;
  // margin-right: auto;
  width: auto;
  margin-bottom: 10px; }

.save-favorites {
  margin-top: 10px;
  justify-content: center;
  bottom: 13vw; }

.map-routes {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center; }

#places-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 4px; }

#show-street-art {
  position: relative;
  background: url(https://res.cloudinary.com/dt9z4xs6m/image/upload/v1605855067/Graffiti-Background_ip7qjf.jpg) no-repeat center right;
  margin-left: 10px;
  }

#search-places-btn {
  position: relative;
  left: 20px;
  bottom: 4px; }

#save-favorite {
  margin-top: 0px;
  display: flex !important; }

#clear-route {
    margin-left: 10px;
}  

#clear-markers {
  margin-left: 10px;
}  

#get-current-location {
  margin-left: 10px;
  padding-bottom: 4px;
}  

#search-places {
  margin-left: 10px;
  margin-bottom: 10px;
}  

.save-favorites a:link {
  margin-left: 20px;

}  

.label-start {
  position: relative;
  width: 220px; 
  margin-left: 10px;
}

.label-end {
  position: relative;
  width: 220px; }

.details-title {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  margin-top: 35px; 
  color: white;}

.graffiti {
  width: 60vw;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col-sm-4 {
  margin-bottom: 20px !important; }

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
    background-size: cover; }

#street-art-a1 {
  background-color: #00B7FF !important; }

#street-art-a2 {
  background-color: #00B7FF !important; }

#save-route {
  background-color: #00B7FF !important; 
  }

#footer-home {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  background: #000;
  opacity: 0.8; 
  color: gray;
  height: 40px;
  text-align: left;
  justify-content: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}  

#footer-home p {
  text-align: left;
  justify-content: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 5px;
}

#footer-signedin {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  background: #000;
  opacity: 0.8; 
  color: red;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}  
#footer-signedin a:link {
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.fluid-container .form {
  display: flex; }

.fluid-container-edit .form {
  left: 50%;
  top: 50%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;}

.fluid-container-edit {
  margin-top: 100px;
  display:block;
  text-align: center;
  justify-content: center;
  width: 65%;
  margin-left: 75px;
}

.menu-content {
  flex: 1; }

.update-button {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: url(https://res.cloudinary.com/dt9z4xs6m/image/upload/v1605855067/Graffiti-Background_ip7qjf.jpg) no-repeat center right;
  border-radius: 6px;
  border: 5px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  margin-left: 150px;
 }

.create-button {
  box-shadow: 0px 0px 0px 2px #3dc21b;
  background: url(https://res.cloudinary.com/dt9z4xs6m/image/upload/v1605855067/Graffiti-Background_ip7qjf.jpg) no-repeat center right;
  border-radius: 10px;
  border: 3px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627; 
  text-align: center
}

/*# sourceMappingURL=style.css.map */
.box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
}

.box a:link {
  text-align: center;
  display: flex;

}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  display: flex;
}

.box .inputBox {
  position: relative;
  text-align: center;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  display: flex;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s; 
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
  text-align: center;
  display: flex;
}

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;  
}

#input-style {
	background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    margin-left: 12px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login-signup-home {
  margin-top: 300px;
  text-align: center;
  color: white;
  font-weight:bolder;
}

.login-signup-home-text {
  margin-top: 300px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.logout-button {
  background: transparent;
  border: 0;
  color: rgb(197, 89, 89);
  font-style: bold;
}

a:link#card-body-edit {
  padding-left: 95px;
}

#card-body-edit {
  margin-left: 38px; 
  }  

.container {
  margin-bottom: 30px;
  margin-top: -40px;
}

.container-create {
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 100px;
}

.container-create h1 {
  margin-left: 75px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.25;
}

#bg-list {
  width: 200px;
  height: 100px;
  border: 1px solid orange;
  background:  url(https://res.cloudinary.com/dt9z4xs6m/image/upload/v1605855067/Graffiti-Background_ip7qjf.jpg) center center;
  background-size: cover;
}

#streetart-edit {
  float: left;
  overflow: hidden;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 12px;
}

form.no-tables > div > div > div > label {
  float: left;
  width: 400px;
  padding-right: 24px;
  grid-column: 1 / 2;
}

form.no-tables > div > div > div > label > input {
  float: right;
  width: calc(100% - 100px);
  grid-column: 2 / 3;
}

form.no-tables-create > div > div > label {
  float: left;
  width: 400px;
  padding-right: 24px;
  grid-column: 1 / 2;
}

form.no-tables-create > div > div > label > input {
  float: right;
  width: calc(100% - 100px);
  grid-column: 2 / 3;
}

.error {
  color: white;
}

.streetart-create {
  float: left;
  margin-left: 50px;
  margin-top: 48px;
}

.btn-group-toggle {
  width:80%;
  margin-left:225px;
}

.btn-group-toggle-select {
  width:80%;
  margin-left:225px;
  margin-bottom: 50px;
}

#list-delete {
  margin-top: -37px;
  padding-bottom: 10px;
  text-align: right;
}  

#edit-links {
  margin-top: 40px;
  margin-left: 5px;
}
#edit-links-link {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 35px;
}

#edit-links-create {
  margin-top: 5px;
  margin-left: -80px;
}

#create-links {
  margin-top: 100px;
  margin-left: -80px;
  margin-top: 140px;
}

.menu-text {
  margin-left: 200px;
}

#street-list-link {
  margin-left: -75px;
  margin-bottom: 5px;
}